.row
  = simple_form_for :user_answer do |f|
    = f.input :answer, as: :radio_buttons, collection: [["1", "Да"], ["0", "Нет"]], label_method: :second, value_method: :first
    = f.button :submit, "Ответить"
